@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --clr-tomato: hsl(4, 100%, 67%);
  --clr-dark-slate-grey: hsl(234, 29%, 20%);
  --clr-charcoal-grey: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  min-height: 100vh;
  place-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-charcoal-grey);
  font-size: 16px;
}

.columns {
  display: flex;
}

.container {
  width: 928px;
  height: 540px;
  background-color: var(--clr-white);
  border-radius: 14px;
  padding: 20px 20px;
  margin: auto 0;
}

h1 {
  color: var(--clr-dark-slate-grey);
  margin: 20px 0;
}

.stay-updated {
  padding: 27px 45px;
}

.stay-updated p {
  margin: 20px 0;
}

.stay-updated ul {
  margin: 15px 0;
  list-style: none;
  padding: 0;
}

.stay-updated ul li {
  padding-left: 30px;
  background: url(/assets/images/icon-list.svg) no-repeat left center;
  background-size: 20px;
  margin-bottom: 15px;
}

form input {
  width: 100%;
  padding: 20px 10px;
  border-radius: 10px;
  margin-top: 8px;
  border: 1px solid var(--clr-grey);
}

.subscribe-button {
  margin-top: 30px;
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--clr-dark-slate-grey);
  color: var(--clr-white);
  cursor: pointer;
  outline: none;
}

.subscribe-button:hover {
  background-color: var(--clr-tomato);
  box-shadow: 2px 4px 6px var(--clr-tomato);
  outline: none;
  border: none;
}

.container-sub {
  width: 80%;
}

.thanks-subscribing {
  display: none;
  margin-top: 200px;
}

.dismiss-button {
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
}

.error-label {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.error-label label,
.error-label p {
  margin: 0;
}
